:root {
    --black-color: #222222
}

.clear {
    clear: both;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    background-color: #FFFFFF;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header {
    position: relative;
    height: 75px;
    background-color: var(--black-color);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header_logo {
    margin: 0 41px 0 0;
}

.header_menu-item .header_button {
    padding: 10px 0 0 0;
    background-color: transparent;
    border: none;
}

.header_container {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_menu-list {
   /* margin-left: 860px;*/
}

.header_menu-list,
.header_logo_wrp {
    display: flex;
    align-items: center;
}

.header_menu-item:not(:last-child) {
    margin: 0 31px 0 0;
}

.header_navigation {
    display: none;
    background: #FFFFFF;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 16px;
    z-index: 1;
}

.cap {

    margin: auto;
    width: 100%;
    min-height: 360px;
    background: #F1E4E6;
    position: relative;
}

.cap__catalog {
    width: 100%;
    background: #F8F3F4;
    height: 148px;
    display: flex;
}

.cap__catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cap__catalog-item .poster {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.cap__catalog-item .breadcrumbs__list {
    display: flex;
}

.breadcrumbs__item {
    padding: 4px;
}



.breadcrumbs__item:hover {
    color: #F26376;
}

.text_cap {
    position: absolute;
    left: 900px;
    top: 335px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    padding-left: 16px;
    border-left: 12px solid #F16D7F;
}

.cap .sub {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.pink {
    color: #F16D7F;
}

.registration {
    justify-content: flex;
    display: flex;
}

.form__registration {
    margin: 80px 0;
    width: 360px;
}

.labels-checkbox {
    margin: 20px 0;
}


.fieldset input {
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-left: 1px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    margin: 10px 0;
}

.fieldset input:active,
.fieldset input:focus {
    border: 1px solid rgba(255, 192, 203, 0.7);
}

.fieldset p {
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.buttons {
    margin-top: 60px;
}

.buttons .form_send {
    background: #F16D7F;
    color: #ffffff;
    border: 2px solid #F16D7F;
    padding: 15px 30px;
    display: inline-block;
}

.buttons .form_send:hover {
    background: #ffffff;
    color: #F16D7F;
}

.buttons .form_send span {
    font-family: "Arial", sans-serif;
    font-size: 22px;
}

.text__advantage {
    width: 652px;
    height: 334px;
    margin-left: auto;
    margin-top: 80px;
}

.text__advantage p {
    margin: 10px;
}

.puhovik {
    position: relative;
}

.puhovik:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(113, 103, 105, 0.08);
}

.filters_item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filters svg {
    padding-left: 10px;
}

.text__advantage svg {
    padding-right: 10px;
}

.shopFilters .choice {
    display: flex;
    margin-left: 400px;
}

.searshFilters {
    padding-left: 20px;
}

.searshFilters svg {
    padding-left: 8px;
}

.small_baners_box {
    margin: 50px 0;
}

.small_baners {
    display: flex;
    justify-content: space-between;
}

.small_baner {
    position: relative;
    margin: 15px 0;
}

.small_baner .image {
    position: relative;
}

.small_baner .image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/contentFon.png') center center no-repeat;
    background-size: cover;

}

.small_baner .text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    text-align: center;
    width: 100%;
    color: #fff;
}

.low_text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.shop {
    text-align: center;
}

.shop .title {
    font-size: 30px;
    line-height: 36px;
}

.shop_room {
    max-width: 1140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.shop_room .product {
    width: 380px;
    padding: 5px;
    box-sizing: border-box;

}

.shop_room .product .image {
    background-color: #F7E4E2;
    height: 420px;
    margin: 5px
}


.shop_room .product .subtext {
    padding: 5px;
    text-align: left;
}

.shop_room .product .subtext_link {
    color: #222222;
}

.shop_room .product .subtext_link:hover {
    color: #F26376;
}

.button_sale {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    outline: 2px solid #F26376;
    padding: 30px 50px;
    display: inline-block;
}

.button_sale:hover {
    background-color: #F26376;
    color: #ffffff;
}

.pagination {
    display: flex;
    border-radius: 1px solid #EBEBEB;
    justify-content: center;
}

.pagination a {
    margin: 10px;
    color: #5D5D5D;

}

.quality_fon {
    margin: 0 auto;
    background-color: #222224;
    margin-top: 60px;
}

.quality_info {
    display: flex;
}

.quality {
    margin: 100px;
    text-align: center;
}

.quality .text p {
    color: #FBFBFB;
    font-size: 20px;
    line-height: 24px;
}

.subscribe .subscribe__fon {
    width: 100%;
    margin: 0 auto;
}


footer {
    background-color: #222224;
    height: 79px;
    margin:
}


@media (max-width: 375px) {

    .container {
        max-width: 375px;
    }

    .header {
        max-width: 375px;
        flex-direction: column;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .cap {
        position: relative;
    }

    .puhovik {
        display: none;
    }

    .text_cap {
        left: 25px;
        top: 148px;
        position: absolute;
        font-weight: 900;
        font-size: 44px;
    }

    .cap .sub {
        font-weight: 700;
        font-size: 24px;
    }

    .cap__catalog-item {
        flex-direction: column;
        margin: 40px;
    }

    .puhovik,
    .slider {
        display: none;
    }

    .small_baners {
        margin: 0 auto;
        flex-direction: column;
        width: 344px;
    }

    .shop_room {
        margin: 0 auto;
        flex-direction: column;
    }

    .quality_info {
        margin: 0 auto;
        flex-direction: column;
    }

    .registration {
        flex-direction: column;
        display: block;
    }

    .form__registration {
        flex-direction: column;
        margin: 8px;
    }

    .text__advantage {
        width: 100%;
        margin: 5px;
    }
    
    .text__advantage h2 {
        margin: 30px;
    }

    .footer {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}
